body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('https://cdn.dribbble.com/users/1003944/screenshots/15741863/media/96a2668dbf0b4da82efca00d60011ca8.gif');
    background-size: contain;
  }
  
  #container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgb(51, 166, 243);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease-in-out;
  }
  
  strong {
    font-size: 10px;
  }
  
  #heading-div {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: rgb(93, 97, 132);
  }
  
  .input {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
  }
  
  .email-div,
  .password-div {
    margin-bottom: 0;
    padding: 10px;
  }
  
  #term-condition {
    font-size: 10px;
    color: #555555;
    margin: 0;
    display: inline;
  }
  
  #button-div {
    margin-top: 10px;
  }
  
  .btn {
    width: 100%;
    padding: 10px;
    background-color: rgb(51, 166, 243);
    color: #ffffff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .login-div {
    text-align: center;
    margin-top: 0;
  }
  
  i,a {
    color: rgb(51, 166, 243);
    text-decoration: none;
  }
  
  #error-heading {
    font-size: 12px;
    color: red;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  #error {
    margin-top: 0;
  }