body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('https://cdn.dribbble.com/users/1003944/screenshots/15741863/media/96a2668dbf0b4da82efca00d60011ca8.gif');
    background-size: contain;
  }
  
  #container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgb(51, 166, 243);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease-in-out;
  }
  
  strong {
    font-size: 10px;
  }
  
  #heading-div {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: rgb(93, 97, 132);
  }
  
  .input {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
  }
  
  .name-div,
  .email-div,
  .password-div,
  .phone-div {
    margin-bottom: 0;
    padding: 10px;
  }
  
  #condition-div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .checkbox {
    margin-right: 10px;
  
  }
  
  #term-condition {
    font-size: 8px;
    color: #555555;
    margin: 0;
    display: inline;
  }
  
  #condition-div {
    margin-top: 10px;
  }
  
  .Conditions {
    color: rgb(27, 97, 143);
    text-decoration: none;
  }
  
  .checkbox {
    appearance: none;
    width: 15px;
    height: 15px;
    border: 2px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s;
    margin-right: 10px;
  }
  
  .checkbox:checked {
    background-image: linear-gradient(112.5deg, rgb(250, 109, 130) 0%, rgb(250, 109, 130) 3%, rgb(219, 107, 130) 3%, rgb(219, 107, 130) 34%, rgb(187, 104, 131) 34%, rgb(187, 104, 131) 46%, rgb(156, 102, 131) 46%, rgb(156, 102, 131) 51%, rgb(124, 99, 132) 51%, rgb(124, 99, 132) 52%, rgb(93, 97, 132) 52%, rgb(93, 97, 132) 76%, rgb(61, 94, 133) 76%, rgb(61, 94, 133) 84%, rgb(30, 92, 133) 84%, rgb(30, 92, 133) 100%), linear-gradient(157.5deg, rgb(250, 109, 130) 0%, rgb(250, 109, 130) 3%, rgb(219, 107, 130) 3%, rgb(219, 107, 130) 34%, rgb(187, 104, 131) 34%, rgb(187, 104, 131) 46%, rgb(156, 102, 131) 46%, rgb(156, 102, 131) 51%, rgb(124, 99, 132) 51%, rgb(124, 99, 132) 52%, rgb(93, 97, 132) 52%, rgb(93, 97, 132) 76%, rgb(61, 94, 133) 76%, rgb(61, 94, 133) 84%, rgb(30, 92, 133) 84%, rgb(30, 92, 133) 100%), linear-gradient(45deg, rgb(250, 109, 130) 0%, rgb(250, 109, 130) 3%, rgb(219, 107, 130) 3%, rgb(219, 107, 130) 34%, rgb(187, 104, 131) 34%, rgb(187, 104, 131) 46%, rgb(156, 102, 131) 46%, rgb(156, 102, 131) 51%, rgb(124, 99, 132) 51%, rgb(124, 99, 132) 52%, rgb(93, 97, 132) 52%, rgb(93, 97, 132) 76%, rgb(61, 94, 133) 76%, rgb(61, 94, 133) 84%, rgb(30, 92, 133) 84%, rgb(30, 92, 133) 100%), linear-gradient(90deg, rgb(71, 69, 135), rgb(241, 26, 171));
    background-blend-mode: overlay, overlay, overlay, normal;
    ;
  }
  
  #button-div {
    margin-top: 10px;
  }
  
  .btn {
    width: 100%;
    padding: 10px;
    background-color: rgb(51, 166, 243);
    color: #ffffff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  #login-div {
    text-align: center;
    margin-top: 0;
  }
  
  i {
    color: rgb(51, 166, 243);
  }
  
  #error-heading {
    font-size: 12px;
    color: red;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  #error {
    margin-top: 0;
  }