<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group Chat App</title>
    <link rel="stylesheet" href="../CSS/signup.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>
<body>
    <form id="container" onsubmit="submitUserDetails(event)" method="POST">
        <div id="heading-div">Sign Up</div>
        <div class="name-div">
            <i class='fa fa-user'></i>
            <input type="text" name="name" class="input" placeholder="Name" id="name-ip" required>
        </div>
        <div class="email-div">
            <i class='fas fa-envelope-open-text'></i>
            <input type="email" name="email" class="input" placeholder="E-mail" id="email-ip" required>
        </div>
        <div class="phone-div">
            <i class="fa fa-phone" aria-hidden="true"></i>
            <input type="tel" name="phone_number" class="input" placeholder="Phone Number" id="phone-ip" required>
        </div>
        <div class="password-div">
            <i class='fa fa-lock'></i>
            <input type="password" name="password" class="input" placeholder="Password" id="password-ip" required>
        </div>
        <div id="condition-div"><input type="checkbox" class="checkbox" required>
            <h2 id="term-condition">I read and agree to <a href="/signup.html" class="Conditions"><strong>Term and
                        Conditions</strong></a></h2>
        </div>
        <div id="button-div">
            <button type="submit" class="btn">Create Account</button>
        </div>
        <div id="error">
            <h2 id="error-heading"></h2>
        </div>
        <div id="login-div">
            <h2 id="term-condition">Already have an account? <a href="./login.html" class="Conditions"><strong>Sign
                        in</strong></a></h2>
        </div>
    </form>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../JS/signup.js"></script>
</body>
</html>